VITE_SUPABASE_URL=https://tjuyeqorhhrppislcmlf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqdXllcW9yaGhycHBpc2xjbWxmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk5NjMwOTgsImV4cCI6MjEwNDUzOTA5OH0.ICTL7raLX-MY7A89c3h42qG73RbbaRLq6GDqEdB0P-I
VITE_GOOGLE_CLIENT_ID=897373692015-4750h8ag33j1c6i0fmpdje7p1ngu7ekk.apps.googleusercontent.com
